.venv
venv
env
.venv/
env/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
migrations
.env 
.venv
__pycache__
migrations
debug.log
postman.json
staticfiles
celerybeat-schedule
dump.rdb
celerybeat-schedule-wal
celerybeat-schedule-shm
*.sqlite3
*.log
*.pyc
*.pyo
chat_uploads
profile_images
serviceaccountkey.json
.env.example