.venv
venv
env
.venv/
env/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
migrations
.env 
db.sqlite3
.venv
__pycache__
migrations
debug.log
postman.json
media
staticfiles
celerybeat-schedule