services:
  python-app:
    build:
      context: .
    container_name: python-app
    restart: unless-stopped
    init: true
    ports:
      - "8000:8000"
    networks:
      - appnet
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://redis:6379/0

      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./media:/app/media
      - ./static:/app/static
      - ./logs:/app/logs

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  postgres_data: